  
  /* Assignment 4: Crab Walk */
.crab {
  font-size: 80px;
  display: inline-block;
  animation: walk 2s infinite ease-in-out;
  margin-top: 20px;
}

@keyframes walk {
  0%   { transform: translateX(0px) rotate(0deg); }
  50%  { transform: translateX(100px) rotate(10deg); }
  100% { transform: translateX(0px) rotate(-10deg); }
}
